.header {
  border-bottom: 1px solid var(--greyScale100);
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}
.headerLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.status {
  font-size: 25px;
  border-left: 1px solid;
  font-family: var(--DM-font);
  font-weight: 500;
  color: var(--greyScale400);
  padding-left: 15px;
}

.grittyImg {
  height: 30px;
}

@media screen and (min-width: 600px) {
  .grittyImg {
    height: 40px;
  }

  .header {
    padding: 1.5rem 2rem;
  }
}
